*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
body{
    height: 100vh;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    animation: color 12s ease-in-out infinite;
    background-size: 300% 300%;
}
@keyframes color{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

.container{
    height: 450px;
    width: 450px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
}
.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    font-size: 24px;
    transition: height 1s ease, width 1s ease, background-color 0.3s ease;

}

#infoText{
    color: black;
    animation:blink ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes blink {
    0%{
        color: black;
    }
    50%{
        color: white;
    }
    100%{
        color: black;
    }
}